*{
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* Modern browsers */
    padding: 0;
    margin: 0;
}

$font-primary-color: #fff;
$heading-large: 3rem;
$heading-medium: 1.5rem;
$heading-small: 1rem;
$font-dark: rgb(10, 10, 10);

$spacing-large: 3rem;
$spacing-medium: 1.5rem;
$spacing-small: 1rem;
$spacing-extra-small: .8rem;

$primary-color: rgb(250, 160, 0);
$primary-bg-color: #fff;
$secondary-bg-color: rgb(10, 10, 10);

body{
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("https://media.altphotos.com/cache/images/2017/10/05/08/752/flatlay-pumpkin-black.jpg");
    background-size: cover;
    background-position: center;
    color: $font-primary-color;
    
}

h1{
    font-size: $heading-medium;
}

ul{
    list-style: none;
}
li{
    width: 400px;
}
a{
    cursor: pointer;
    color: $font-primary-color;
    text-decoration: none;
    &:hover, &:focus{
        color: $primary-color;
        text-decoration-line: underline;
    }
}

select{
    -webkit-appearance: none; /* Remove default styling for Safari */
    -moz-appearance: none; /* Remove default styling for Firefox */
    appearance: none; /* Remove default styling for modern browsers */
    // background-image: url('../assets/resource/down-arrow.svg'); 
    padding: $spacing-small $spacing-medium;
    font-size: $heading-small;
    color: $font-dark;
     &:focus, &:hover{
        border: 3px solid $primary-color;
     }
}

button{
    cursor: pointer;
    font-size: $heading-small;
    padding: $spacing-small $spacing-small;
    border-radius: 10px;
    border: none;
}

button.submit{
    background-color: $primary-color;
    color: $font-primary-color;
    width: 200px;
    justify-self: center;
    margin-top: $spacing-small;
    &:hover, &focuse{
        background-color:rgba(250, 160, 0, 0.5);
    }
}
.game-container-root{
    width: 100%;
    height: 100vh;
    max-width: 1100px;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nav-languages-container{
    padding: 0 $heading-medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 400px;
    width: 100%;
}
.nav-languages{
    cursor: pointer;
    font-size: $heading-small;
    color: $font-dark;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    margin-inline: auto;
    padding: $spacing-small $spacing-medium;
    &:hover, &:focus{
        background-color: rgb(180, 180, 188);
    }
}


.choices-container{
    // border: 1px solid red;
    max-width: 400px;
    width: 100%;
    padding: $spacing-small;
    display: grid;
    gap: 10px;


}
.two-columns{
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: $spacing-small;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    p{
        font-size: $heading-medium
    }
}

.score-title{
    font-size: $heading-medium;
}

.display-moving-message{
    padding-bottom: $spacing-medium;
}

.heading-title{
    text-align: center;
}

.counter-number{
    margin-left: $spacing-small;
}

.container{
    padding: $spacing-medium;
}